/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
background-color: #d4e3feFF;
}


/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #874efeFF;
}

h2 {
  margin-top: 2em;
  color: #2460A7FF;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
   justify-content: left; 
  margin-top: 2em;
  
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  border: inline;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  padding: 25px
  
}



.tenor-gif-embed{
  width: 300px;
  height: 300px;
}